<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<!--  Default log level but can be over written with export LOG_LEVEL=DEBUG -->
		<Property name="LOG_LEVEL">INFO</Property>
	</Properties>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${env:LOG_LEVEL}">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="org.elasticsearch" level="${env:LOG_LEVEL}" />
		<logger name="io.netty" level="${env:LOG_LEVEL}" />
		<logger name="org.neo4j.ogm" level="${env:LOG_LEVEL}" />
		<logger name="org.alliancegenome.indexer.config" level="${env:LOG_LEVEL}" />
	</Loggers>
</Configuration>