<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="org.elasticsearch" level="INFO" />
		<logger name="io.netty" level="INFO" />
		<logger name="org.neo4j.ogm" level="INFO" />
	</Loggers>
</Configuration>