<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="DEFAULT_LOG_LEVEL">INFO</Property>
	</Properties>
	<Appenders>
		<Console name="StdOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level [%logger{1.}] - %msg%n" />
			<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
		</Console>
		<Console name="StdErr" target="SYSTEM_ERR">
			<PatternLayout pattern="%-5level [%logger{1.}] - %msg%n" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${env:DEFAULT_LOG_LEVEL}">
			<AppenderRef ref="StdOut" />
			<AppenderRef ref="StdErr" />
		</Root>
		<logger name="org.alliancegenome" level="${env:DEFAULT_LOG_LEVEL}" />
	</Loggers>
</Configuration>
